# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
.vscode
.DS_Store

# kbc datafolder
*/data
*/venv
testing_config/


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.project
.settings
.classpath
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn
/testing_config
**/data/
**/venv

# java builds
*kbcDebeziumEngine-jar-with-dependencies.jar