keboola.component==1.4.4
keboola.utils
jaydebeapi==1.2.3
dataconf
jproperties==2.1.1
pandas
duckdb
sshtunnel
paramiko
kbcstorage==0.9.1
# tests
mock
freezegun
https://bitbucket.org/kds_consulting_team/datadirtest/get/1.8.1.zip#egg=datadirtest