keboola.component==1.4.4
keboola.utils==1.1.0
jaydebeapi==1.2.3
dataconf==3.2.0
jproperties==2.1.1
pandas==2.2.2
duckdb==1.0.0
sshtunnel==0.4.0
kbcstorage==0.9.1
# tests
mock
freezegun
https://bitbucket.org/kds_consulting_team/datadirtest/get/1.8.1.zip#egg=datadirtest